
.team-card-list-item {
  display: flex;
  justify-content: space-between;
}
.team-image {
  height: 100px;
  min-width: 50px;
  max-width: 100px;
  align-self: center;
}
.team-name {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Bree Serif';
  color: white;
  text-align: center;
}
.link-item {
  border-style: solid;
  border-width: 3px;
  border-color: #ffffff33;
  background-color: #ffffff33;
  width: 47%;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border-radius: 10px;
}
@media (max-width: 705px) {
  .link-item {
    width: 100%;
  }
}
